<div class="container-fluid">
  <h2>My Bucketlist</h2>
  <table class="table table-striped" id="yourgamelist" align="center">
    <thead>
      <tr>
        <th>Game</th>
        <th>Platforms</th>
        <th>Genre</th>
        <th>Developer</th>
        <th>User Rating</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
  <% @games.each do |gamelistgame| %>
    <% game = Game.find(gamelistgame.game_id) %>
    <tbody>
      <tr>
        <td><%= game.name %></td>

        <% if !gamelistgame.platforms.nil? %>
          <td>
            <% gamelistgame.platforms.each do |platform| %>
              <span class="badge"><%= platform["abbreviation"] %></span>
            <% end %>
          </td>
        <% else %>
          <td></td>
        <% end %>

        <% if !game.genres.nil? %>
        <td>
          <% game.genres.each do |genre| %>
            <span class="badge"><% genre["name"] %></span>
            <% end %>
        </td>
        <% else %>
        <td></td>
        <% end %>

        <% if !game.developers.nil? %>
          <td>
            <% game.developers.each do |developer| %>
              <span class="badge"><%= developer["name"] %></span>
            <% end %>
          </td>
        <% else %>
          <td></td>
        <% end %>

       <!--
 <% if !game.publishers.nil? %>
          <td>
            <% game.publishers.each do |publisher| %>
              <span class="badge"><%= publisher["name"] %></span>
            <% end %>
          </td>
        <% else %>
          <td></td>
        <% end %>
-->

        <td id="five_stars">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </td>

        <td>
          <span>
            <input type="radio" name="status" value="Beaten"> Beaten &nbsp;
            <input type="radio" name="status" value="In Progress"> In Progress &nbsp;
            <input type="radio" name="status" valus="Haven't Played"> Haven't Played
          </span>
        </td>

        <td>
          <%= link_to "E", gamelist_path(id: game.id), method: :get, class: "btn btn-default" %>
          <%= link_to "R", gamelist_path(id: game.id), method: :delete, class: "btn btn-danger" %>
        </td>
      </tr>
    </tbody>
  <% end %>
  </table>
</div>
